body {
    text-align:center;
    margin: 300px 50px;
    font-size: 50px;
}

/* For Smartphones */
@media all and (max-width: 670px) {
    body {
        font-size: 14px;
        width: 100%;
    }
}
